/* font family */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Nunito&display=swap');
:root {
    --body-color: #fff;
    --dark-blue: #081f46;
    --primary-hover-color: #081F46;
    /* --paregraph: #081F46;
   
    --title-color: #081F46;
    --price-color: #081F46;
    --price-tile-color: #081F46; */
    --medium-blue: #379EFF;
    --primary-color: #379EFF;
    /* --heading-blue: #379eff;
    --btn-hover-color: #379eff;
    --social-icon-color: #379eff; */
    --primary-bg-color: #eef9ff;
    /* --header-hover-color: #eef9ff; */
    --footer-bg-color: #120d48;
    --primary-dark-color: #000000;
    --social-icon-txt-color: #ffffff;
    /* --fw-title-color: #ffffff; */
    --btn-bg-color-1: #67b5ff;
    --btn-bg-color-2: #4d86ff;
    /* --social-icon-hover-color: #4d86ff; */
    --txt-select-bg-color: #ecf4ff;
    /* --woo-pr-fil-bg-color: #379eff;
    --sale-badge-bg-color: #379eff;
    --cart-count-color: #379eff;
    --success-icon-color: #379eff; */
}

.dark {
    --primary-bg-color: #000000;
    --dark-blue: #ffffff !important;
}


/* html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
} */

body,
html {
    background-color: var(--body-color);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dark {
    --body-color: #1f212e;
    --dark-blue: #081f46;
    --medium-blue: #379EFF;
    --primary-bg-color: #eef9ff;
    --footer-bg-color: #120d48;
    --primary-dark-color: #000000;
    --social-icon-txt-color: #ffffff;
    --btn-bg-color-1: #67b5ff;
    --btn-bg-color-2: #4d86ff;
    --txt-select-bg-color: #ecf4ff;
}

h6,
p {
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h4,
h5 {
    font-family: 'Dosis', sans-serif;
}


/* ----dark light mode icon---------------------------------------------- */

.moon-icon {
    cursor: pointer;
    /* position: absolute;
    top: 10px;
    right: 10px; */
    color: var(--heading-color);
    transform: rotate(-25deg);
}


/* ----dark light mode icon END---------------------------------------------- */


/* ----------Go To Top Icon------------------------------------------------------ */

.top-icon:hover {
    color: white;
    background: var(--btn-bg-color-trans);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.top-icon:focus {
    outline: none;
}

.top-icon {
    display: none;
    z-index: 99;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    background: var(--btn-bg-color);
    text-align: center;
    line-height: 39px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    padding: 0;
}


/* ----------Go To Top Icon END------------------------------------------------------ */


/* ---------------------navbar dropdown animation------------------------------------------------------------------- */

.dropdown-menu {
    margin-top: 0;
}

.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    margin: 0 20px;
    border-width: 0;
}

.dropdown-menu .dropdown .dropdown-menu.left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li a:hover,
.dropdown-menu>li.show {
    background: #007bff;
    transition: .3s;
    color: white;
}

.dropdown-menu>li.show>a {
    color: white;
}

@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin: 0;
        border-width: 1px;
    }
}


/* --------scroll to fix navbar animation-------------------------------- */

.main_nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: auto;
    -webkit-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}


/* --------scroll to fix navbar animation END-------------------------------- */


/* -------navbar dropdown animation END------------------------------------------------------------------- */

i {
    display: block;
}


/* ------NAVBAR---------------------------------------------------------------------------- */

.navbar {
    padding: 1.8em 0em 1em 2em;
}

.navbar-nav .nav-item {
    padding: 0em .4em 0em .4em;
    margin: auto;
    font-weight: 800;
}

.navbar-nav .nav-item a {
    font-size: .9em;
    transition: .4s;
    font-family: 'Nunito', sans-serif;
}

.navbar-nav .nav-item a p {
    font-size: 12px;
    width: 5rem;
}

.navbar-nav .nav-item a:hover,
.active,
.navbar-light .navbar-nav .nav-icon i {
    color: var(--medium-blue) !important;
}

.dropdown-menu li a:hover {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
}

.dropdown-menu li {
    padding: 0em 1em 0em 1em;
}

.dropdown-menu li a {
    border-radius: 1em;
    font-size: 0.875rem;
    line-height: 1.381;
    font-weight: 800;
    letter-spacing: 1px;
}

.nav-item ul {
    border-radius: 1em;
    box-shadow: 0 20px 30px 0 rgba(41, 112, 250, 0.2);
    background-color: var(--body-color);
}

.navbar-light .navbar-nav .nav-link,
.dropdown-menu .dropdown-item {
    font-family: 'Nunito', sans-serif;
    color: var(--dark-blue);
}

.navbar-light .navbar-nav .nav-link i {
    line-height: 35px;
    font-size: 1.5rem;
}

.navbar-light .navbar-nav .nav-icon {
    height: 2.6875rem;
    padding: 0 0.75rem;
    background: white;
    z-index: 2;
    cursor: pointer;
    box-shadow: 0 20px 30px 0 rgba(41, 112, 250, 0.2);
}

.navbar-light .navbar-nav .nav-icon i {
    width: 1.375rem;
    height: 1.1875rem;
    line-height: 35px;
}

.navbar-brand {
    color: var(--primary-color) !important;
}

.main-banner-section1 {
    background: var(--primary-bg-color);
}

.main-banner-section {
    background-image: url('https://i.ibb.co/qJc3yFm/Vector-3.png');
    background-size: 32%;
    background-repeat: no-repeat;
    background-position: top left;
}


/* ------NAVBAR END---------------------------------------------------------------------------- */


/* ----main banner heading------------------------------------------------------------- */

.btn-1 {
    background-color: #FFFFFF00;
    font-size: 20px;
    transition: .3s;
    letter-spacing: 2px;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    background: var(--btn-bg-color-1);
    color: #fff;
}

.btn-2 {
    background-color: #FFFFFF00;
    font-size: 20px;
    transition: .3s;
    letter-spacing: 2px;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    background: var(--body-color);
    color: var(--dark-blue);
}

.box-shadow {
    box-shadow: 0 20px 30px 0 rgba(41, 112, 250, 0.2);
}

.btn-1:hover,
.btn-2:hover {
    text-decoration: none;
    box-shadow: 0 20px 30px 0 rgba(41, 112, 250, 0.45);
    color: #fff;
    transition: .3s;
}

.btn-2:hover {
    color: var(--medium-blue);
    transition: .3s;
}

.main-banner-heading h1:nth-child(1),
.main-banner-heading h1:nth-child(2) {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 2px;
}

.main-banner-heading h1:nth-child(1) {
    color: var(--dark-blue);
}

.main-banner-heading h1:nth-child(2) {
    color: var(--medium-blue);
    padding: 0;
    margin: 0;
    line-height: 1;
}

.main-banner-heading h6 {
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    color: var(--primary-hover-color);
    letter-spacing: .7px;
}

.main-banner-heading h6 strong span {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
    margin-right: 8px;
}

.video-icon {
    background: var(--body-color);
    border-radius: 50px;
    padding: 1em 1em 1em 1.2em;
    font-size: 17px;
    color: var(--dark-blue);
}

.video-icon-main {
    display: flex;
    width: 150px;
    align-items: center;
    color: var(--dark-blue);
}

a:hover {
    text-decoration: none;
}